.root{
    flex-grow: 1;
    height: 430px;
    z-index: 1;
    overflow: hidden;
    position: relative;
    display: flex;
  }


.appBar{
    z-index: 9999;
}
.drawerPaper{
    position: relative;
    width: 240;
  }
.content{
    flex-grow: 1;
    background-color: black;
    padding: black;
    min-width: 0; 
  }